@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-thin::-webkit-scrollbar {
    width: 0px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 4px;
  }
  